* {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.container {
  display: grid;
  padding: 30px;
  place-content: center;
  text-align: center;
}

.joke {
  background-image: url('https://t4.ftcdn.net/jpg/01/64/26/17/360_F_164261744_NnHLBEta2yJ4X4X75XjCbRuO1K0CvVZ8.jpg');
  border-radius: 10px;
  color: darkblue;
  cursor: pointer;
  font-size: 20px;
  font-weight: 800;
  height: 250px;
  width: 250px;
  padding: 50px 20px;
}

.joke-setup {
}

.joke-punchline {
  display: none;
}